._index.html
._header__background.mp4
._header__basket
._header__search
._about__background.jpeg
._about__line.png
._delivery__background.jpeg
._footer__image-instagram.svg
._footer__image-telegram.png
._footer__image-vk.png
._footer__line.png
._footer__logo.png
._footer__image-github.png
._delivery__background.png
._contact__background.png
._about__background.jpeg
._contact__background.jpeg
._about__line.png